.section-banner {
    color: #ffffff;

    h1 {
        color: #ffffff;
    }
    &__bg {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }
    &__micro {
        position: relative;
        z-index: 2;
        > article {
            @extend .paragraph-0;
        }
        > article, footer {
            &:first-child {
                margin-top: 0px;
            }
        }
    }

    @include media-min(1px) {
        padding-top: 70px;
        padding-bottom: 70px;
        text-align: center;

        &__micro {
            > article {
                margin-top: 10px;
            }
            > footer {
                margin-top: 20px;
            }
        }
    }

    @include media-min(768px) {
        padding-top: 130px;
        padding-bottom: 130px;
        text-align: left;

        &__micro {
            > article, footer {
                margin-top: 30px;
            }
        }
    }

    @include media-max(767px) {
        &__micro {
            > article {
                > p:not(:first-child) {
                    display: none;
                }
            }
        }
    }

}