html, body {
    position: relative;
    width: 100%;
    height: 100%;
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
}
body {
    @include font-size(16,22);
    @include font-main-regular-normal;
    letter-spacing: 0px;
    color: #000000;
    background-color: #ffffff;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

#app {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

b,strong {

}
ul, ol {
    list-style: none;
}
ul, li {
    list-style-type: none;
}
a, a:visited, a:focus, a:active, a:hover,
button, button:visited, button:focus, button:active, button:hover {
    outline: none !important;
}
a::-moz-focus-inner,
button::-moz-focus-inner {
    outline: none !important;
}
a {
    text-decoration: none;
}

header, article, footer, section, figure {
    display: block;
}
.header, main, .footer {
    display: table-row;
    width: 100%;
}
main {
    position: relative;
    height: 100%;
}
section {
    position: relative;
}
figure {
    margin: 0px;
}
img {
    max-width: 100%;
    height: auto;
}

.input-field {
    position: relative;
    font-size: 0px;
    line-height: 1;

    &.error {
        & > label {
            color: #f44336;
        }
        & > input {
            border-color: #f44336;
        }
        & + .form-message {
            display: block;
            color: #f44336;
        }
    }

    & > label {
        position: absolute;
        top: -6px;
        left: 15px;
        display: block;
        padding: 0px 5px;
        @include font-size(12,12);
        color: #8d8c8c;
        background-color: #ffffff;
        z-index: 1;
    }
    & > input {
        @include font-main-regular-normal;
        @include font-size(16,16);
        color: #000000;
        display: block;
        width: 100%;
        height: 55px;
        padding: 10px 15px;
        border: 1px solid #b7b7b7;
        border-radius: $button-corner-radius;
        outline: none;
        background-color: transparent;
        box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.form-row {
    position: relative;

    @include media-min(768px) {
        padding-bottom: 20px;
    }
}

.form-message {
    display: none;
    padding: 0px 15px;
    @include font-size(12,12);
    color: #8d8c8c;

    @include media-min(1px) {
        margin-top: 5px;
    }

    @include media-min(768px) {
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 0px;
        margin-top: 0px;

        & > span {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
.form-message_default {
    display: block;
}

::-webkit-input-placeholder {
    @include font-main-regular-normal;
    @include font-size(16,16);
    color: #8d8c8c;
    text-overflow: ellipsis;
    text-transform: none;
}
::-moz-placeholder {
    @include font-main-regular-normal;
    @include font-size(16,16);
    color: #8d8c8c;
    text-overflow: ellipsis;
    text-transform: none;
    opacity: 1;
}
::-ms-input-placeholder {
    @include font-main-regular-normal;
    @include font-size(16,16);
    color: #8d8c8c;
    text-overflow: ellipsis;
    text-transform: none;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    -webkit-text-fill-color: #000000;
}
textarea {
    resize: none;
    height: auto;
    overflow: hidden;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: transparent;
    outline: none;
    color: #000000;
    cursor: pointer;
    &[disabled] {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }
}
.button_orange {
    width: 100%;
    max-width: 290px;
    height: 40px;
    color: #ffffff;
    @include font-size(20,20);
    @include font-headline-bold-normal;
    background-color: $primary-color;
    border-radius: $button-corner-radius;
    transition: background-color 0.2s ease 0s;
    > span {
        display: block;
        height: 20px;
        overflow: hidden;
    }
    &:hover {
        background-color: $primary-color_hover;
    }
    &[disabled] {
        opacity: 1;
        border-color: #d7d7d7 !important;
        color: #8d8c8c !important;
        background-color: #d7d7d7 !important;
        cursor: default;
    }

    @include media-min(1px) {
        padding: 0px 15px;
    }

    @include media-min(768px) {
        padding: 0px 30px;
    }
}
.button_text {
    @include font-main-bold-normal;
    @include font-size(22,22);
    color: $primary-color;
    transition: color 0.2s ease 0s;
    &:hover {
        color: $primary-color_hover;
    }
}
.button_border {
    width: 100%;
    max-width: 290px;
    height: 40px;
    border: 2px solid $primary-color;
    border-radius: $button-corner-radius;
    @include font-size(20,20);
    @include font-headline-bold-normal;
    color: $primary-color;
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s, color 0.2s ease 0s;
    &:hover {
        color: $primary-color_hover;
        border-color: $primary-color_hover;
        background-color: $primary-color_hover_2;
    }

    @include media-min(1px) {
        padding: 0px 15px;
    }

    @include media-min(768px) {
        padding: 0px 30px;
    }
}
.button_nav {
    padding: 0px;
    width: 24px;
    height: 24px;
    @include link-hover-fill-secondary;
}

.main-wrapper {
    padding-top: 65px;
}

.header__wrapper, main > section, .footer__wrapper {

    @include media-min(768px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    @include media-min(1024px) {
        padding-left: 25px;
        padding-right: 25px;
    }

    @include media-min(1680px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}