.file-field {
    position: relative;
    font-size: 0px;
    line-height: 1;
    height: 55px;
    padding-right: 130px;
    border: 1px solid #b7b7b7;
    border-radius: $button-corner-radius;

    &.error {
        border-color: #f44336;
    }
    &.error + .form-message {
        color: #f44336;
    }

    &__content {
        display: flex;
        width: 100%;
        height: 100%;
        flex-flow: row;
        align-items: center;
        padding: 10px 15px;
        @include font-size(16,16);
        color: #8d8c8c;

        & > span {
            display: block;
            height: 18px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    & > .button {
        position: absolute;
        top: -1px;
        right: -1px;
        height: calc(100% + 2px);
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    & > input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
        z-index: -1;
    }

    @include media-min(1px) {
        & > .button {
            max-width: 55px;
            & > span {
                display: none;
            }
            & > svg {
                display: block;
            }
        }
    }

    @include media-min(768px) {
        & > .button {
            max-width: 130px;
            & > span {
                display: block;
            }
            & > svg {
                display: none;
            }
        }
    }
}