$font-source-src: '../fonts/SourceSansPro';

@font-face {
    font-display: swap;
    font-family: 'Source Sans Pro';
    src: url('#{$font-source-src}/SourceSansPro-Regular.eot');
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url('#{$font-source-src}/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('#{$font-source-src}/SourceSansPro-Regular.woff') format('woff'),
    url('#{$font-source-src}/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'Source Sans Pro';
    src: url('#{$font-source-src}/SourceSansPro-Bold.eot');
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
    url('#{$font-source-src}/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-source-src}/SourceSansPro-Bold.woff') format('woff'),
    url('#{$font-source-src}/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Overpass helper mixins */
$supported-weights: (
    semibold: 600,
    bold: 700
);

$supported-styles: (normal);

@mixin print-overpass-font-face(
    $weights: map-keys($supported-weights),
    $styles: $supported-styles,
    $weight-map: $supported-weights,
    $path_to_dist: '../fonts/Overpass/'
) {
    @each $weight in $weights {
        @each $style in $styles {
            @font-face {
                font-display: swap;
                font-family: 'overpass';
                src: url("#{$path_to_dist}overpass-#{$weight}#{if($style != normal, #{-$style}, "")}.eot?");
                src: url("#{$path_to_dist}overpass-#{$weight}#{if($style != normal, #{-$style}, "")}.eot?#iefix") format("embedded-opentype"),
                url("#{$path_to_dist}overpass-#{$weight}#{if($style != normal, #{-$style}, "")}.woff?") format("woff"),
                url("#{$path_to_dist}overpass-#{$weight}#{if($style != normal, #{-$style}, "")}.ttf?") format("truetype");
                font-weight: map-get($weight-map, $weight);
                font-style: $style;
            }
        }
    }
}

@include print-overpass-font-face;

