.footer {
    color: #ffffff;
    background-color: $secondary-color;

    a {
        color: #ffffff;
    }

    &__wrapper {
        padding-bottom: 30px;
    }
    &__row {
        position: relative;
        margin-top: 30px;
        &:first-child {
            margin-top: 0px;
        }
    }
    &__row_middle {
        padding-top: 30px;
        border-top: 1px solid #5f5fc4;
    }
    &__row_top, &__row_bottom {
        align-items: center;
    }
    &__copyright {
        @include font-size(12, 12);
    }

    @include media-min(1px) {
        text-align: center;

        &__row_top {
            padding-top: 30px;
        }
        &__row_bottom {
            flex-flow: column-reverse;
        }
        &__row_bottom &__column {
            margin-top: 0px;
            margin-bottom: 20px;
            &:first-child {
                margin-bottom: 0px;
            }
        }
        &__column {
            margin-top: 20px;
            &:first-child {
                margin-top: 0px;
            }
        }
    }

    @include media-min(768px) {
        text-align: left;

        &__row_top {
            padding-top: 0px;
            height: 80px;
        }
        &__row_middle {
            margin-top: 0px;
            &:before, &:after {
                content: "";
                position: absolute;
                top: -1px;
                width: 15px;
                height: 1px;
                background-color: $secondary-color;
            }
            &:before {
                left: 0%;
            }
            &:after {
                right: 0%;
            }
        }
        &__row_bottom {
            flex-flow: row;
        }
        &__row_bottom &__column {
            margin-bottom: 0px;
        }
        &__column {
            margin-top: 0px;
        }
        &__column_left {
            text-align: left;
        }
        &__column_right {
            text-align: right;
        }
    }
}

.footer-logo {
    font-size: 0;
    line-height: 1;
    svg > path {
        fill: #ffffff;
    }
}

.footer-menu {
    font-size: 0px;

    &__button {
        @include font-size(16,16);
        color: #ffffff;
        @include link-hover-color;
    }

    @include media-min(1px) {
        &__item {
            display: block;
            margin-top: 15px;
            &:first-child {
                margin-top: 0px;
            }
        }
    }

    @include media-min(768px) {
        &__item {
            display: inline-block;
            vertical-align: middle;
            margin-top: 0px;
            margin-right: 30px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

.footer-contact {
    &__item {
        display: block;
        &:first-child {
            margin-top: 0px;
        }
    }

    @include media-min(1px) {
        &__item {
            margin-top: 10px;
        }
    }

    @include media-min(768px) {
        &__item {
            margin-top: 20px;
        }
    }
}

.footer-contact-button {
    @include link-hover-fill-primary;

    &__icon, &__title {
        vertical-align: middle;
        margin-right: 10px;
        &:last-child {
            margin-right: 0px;
        }
    }
    &__icon {
        width: 25px;
        font-size: 0px;
        line-height: 1;
    }
    &__title {
        display: inline-block;
        @extend .paragraph-0;
        line-height: 1;
    }

    @include media-min(1px) {
        &__icon {
            display: none;
        }
    }

    @include media-min(768px) {
        &__icon {
            display: inline-block;
        }
    }

    @include media-max(767px) {
        &__title {
            @include font-size(18,24);
        }
    }
}

.footer-list {
    column-count: 4;
    column-gap: 30px;
    column-width: 25%;
    line-height: 1.9;

    &__item {
        display: block;
        width: 100%;
        & > a {
            @include font-size(16,22);
            @include link-hover-color;
        }
    }
}

.footer-social {
    font-size: 0px;
    line-height: 1;

    &__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        &:last-child {
            margin-right: 0px;
        }

        & > a {
            display: block;
            @include link-hover-fill-primary;
        }
    }
}