.header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 65px;
    z-index: 9;

    &__wrapper {
        height: 100%;
        background-color: #ffffff;
        border-bottom: 1px solid #e1e1e1;
        > .container {
            height: 100%;
        }
        > .container > .row {
            height: 100%;
            align-items: center;
        }
    }
    &__row {
        height: 100%;
        align-items: center;
    }
    &__row-desktop__content, &__row-desktop, &__row-mobile {
        height: 100%;
    }
    &__col_left {
        text-align: left;
    }
    &__col_center {
        text-align: center;
    }
    &__col_right {
        text-align: right;
    }
    &__mask {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.32);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 200ms ease 0ms, visibility 250ms linear 0ms;
        z-index: 9;
    }

    @include media-min(1px) {
        &__row-mobile {
            display: block;
        }
    }

    @include media-min(1024px) {
        &__row-mobile {
            display: none;
        }
        &__col_center, &__col_right {
            display: block;
        }
    }


    @include media-max(1023px) {
        &__row-desktop {
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            max-width: 260px;
            transform: translate(-100%, 0%);
            transition: transform 300ms ease-out 0ms;
            z-index: 10;
        }
        &__row-desktop__content {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            background-color: #ffffff;
        }
        &__row-desktop &__row {
            align-items: inherit;
            flex-flow: column-reverse;
            height: auto;
            margin: 0px;
        }
        &__row-desktop &__col {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            height: auto;
            padding: 30px;
            text-align: left;
            &:first-child {
                display: none;
            }
        }
        &__row-desktop &__col_center {
            border-top: 1px solid #e1e1e1;
        }
    }

    @include media-max(767px) {
        &__row-desktop {
            max-width: 250px;
        }
    }
}

.header-logo {
    font-size: 0px;
    line-height: 1;
}

.header-menu {
    font-size: 0px;

    &__item {
        display: inline-block;
        vertical-align: middle;
        margin-left: 30px;
        &:first-child {
            margin-left: 0px;
        }
        &:last-child {
            display: none;
        }
    }
    &__button {
        @include font-size(16,16);
        @include link-hover-color;
    }

    @include media-max(1023px) {
        &__item {
            display: block;
            margin-top: 30px;
            margin-left: 0px;
            &:first-child {
                margin-top: 0px;
            }
            &:last-child {
                display: block;
            }
        }
    }
}

.header-user {
    font-size: 0px;

    &__column {
        display: inline-block;
        vertical-align: middle;
        @include font-size(16,16);
        margin-right: 15px;
        &:last-child {
            margin-right: 0px;
        }
    }
    &__column_left {
        text-align: right;
    }
    &__name, &__email {
        margin-top: 5px;
        &:first-child {
            margin-top: 0px;
        }
    }
    &__name {
        @include font-size(14,16);
    }
    &__email {
        @include font-size(12,12);
        color: #8d8c8c;
    }
    &__image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #e1e1e1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }
    &__sign-out {
        width: 24px;
        height: 24px;
        @include link-hover-fill-secondary;
    }

    @include media-max(1023px) {
        display: flex;
        flex-flow: column-reverse;

        &__column {
            margin-right: 0px;
        }
        &__column_left {
            text-align: left;
            margin-top: 20px;
        }
        &__column_right {
            display: none;
        }
        &__image {
            width: 70px;
            height: 70px;
        }
        &__name {
            @include font-size(20,22);
        }
    }
}

.header_nav-opened {
    .header__row-desktop {
        transform: translate(0%, 0%);
    }
    .header__mask {
        opacity: 1;
        visibility: visible;
        pointer-events: inherit;
        transition: visibility 0ms linear 0ms, opacity 200ms ease 50ms;
    }
}