.notification {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease 0ms, visibility 250ms linear 0ms;
    z-index: -1;

    &__mask {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.32);
        z-index: 1;
    }
}

.notification-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 290px;
    padding: 25px;
    border-radius: $button-corner-radius;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 2;

    &__body {
        margin-top: 10px;
        &:first-child {
            margin-top: 0px;
        }
    }
    &__footer {
        margin-top: 40px;
        text-align: right;
        &:first-child {
            margin-top: 0px;
        }
    }
    &__title {
        @include font-size(22,24);
        @include font-headline-semi-bold-normal;
    }
    &__text {
        @include font-size(16,22);
    }
    .button_text {
        @include font-size(20,20);
    }
}

.notification_opened {
    opacity: 1;
    visibility: visible;
    z-index: 11;
    transition: visibility 0ms linear 0ms, opacity 200ms ease 50ms;
}