.section-quaint {
    &:first-child {
        margin-top: 0px;
    }

    &__row, &__column {
        &:first-child {
            margin-top: 0px;
        }
    }
    &__row:first-child &__column {
        margin-top: 0px;
    }
    &__image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 0px;
        line-height: 1;
    }
    &__content {
        padding-left: 15px;
        > footer {
            margin-top: 15px;
            &:first-child {
                margin-top: 0px;
            }
        }
    }

    @include media-min(1px) {
        margin-top: 70px;
        text-align: center;

        &:last-child {
            padding-bottom: 70px;
        }

        &__row, &__column {
            margin-top: 30px;
        }
        &__image {
            max-width: 220px;
        }
    }

    @include media-min(768px) {
        margin-top: 130px;
        text-align: left;

        &:last-child {
            padding-bottom: 130px;
        }

        &__row {
            margin-top: 40px;
        }
        &__column {
            margin-top: 0px;
        }
        &__image {
            max-width: 100%;
        }
    }
}