.section-register {
    &:first-child {
        margin-top: 0px;
    }

    &__mask {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.32);
        opacity: 0;
        visibility: hidden;
        transition: opacity 200ms ease 0ms, visibility 250ms linear 0ms;
        z-index: -1;
    }

    &__wrapper {
        position: relative;
        z-index: 1;
    }

    &__row {
        &:first-child {
            margin-top: 0px;
        }
    }
    &__header {
        text-align: center;
        > h5 {
            margin-top: 10px;
        }
    }

    @include media-min(1px) {
        margin-top: 70px;
        &:last-child {
            padding-bottom: 70px;
        }

        &__row {
            margin-top: 30px;
        }
    }

    @include media-min(768px) {
        margin-top: 130px;
        &:last-child {
            padding-bottom: 130px;
        }

        &__row {
            margin-top: 60px;
        }
    }
}

.section-register_disabled {
    .section-register__mask {
        opacity: 1;
        visibility: visible;
        z-index: 2;
        transition: visibility 0ms linear 0ms, opacity 200ms ease 50ms;
    }
}

.register-form {
    &__row {
        &:first-child {
            margin-top: 0px;
        }
    }
    &__row_bottom {
        text-align: center;
    }
    &__column {
        &:first-child {
            margin-top: 0px;
        }
    }

    @include media-min(1px) {
        &__row {
            margin-top: 30px;
        }
        &__column {
            margin-top: 35px;
        }
    }

    @include media-min(768px) {
        &__row {
            margin-top: 40px;
        }
        &__column {
            margin-top: 0px;
        }
    }
}
