.relationships-section {
    &:first-child {
        margin-top: 0px;
    }

    &__title {
        text-align: center;
    }
    &__row {
        &:first-child {
            margin-top: 0px;
        }
    }
    &__column {
        &:first-child {
            margin-top: 0px;
        }
    }

    @include media-min(1px) {
        margin-top: 70px;

        &:last-child {
            padding-bottom: 70px;
        }

        &__row {
            margin-top: 30px;
        }
        &__column {
            margin-top: 30px;
        }
    }

    @include media-min(768px) {
        margin-top: 130px;

        &:last-child {
            padding-bottom: 130px;
        }

        &__row {
            margin-top: 50px;
            padding-left: 5%;
            padding-right: 5%;
        }
        &__column {
            margin-top: 40px;
        }
    }

    @include media-min(992px) {
        margin-top: 70px;

        &__row {
            padding-left: 0px;
            padding-right: 0px;
        }
        &__column {
            margin-top: 0px;
        }
    }

}

.relationships-micro {
    &__column {
        &:first-child {
            margin-top: 0px;
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        font-size: 0px;
        line-height: 1;
        img {
            width: auto;
        }
    }
    &__title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @extend .heading-3;
    }
    &__article {
        margin-top: 10px;
        &:first-child {
            margin-top: 0px;
        }
    }

    @include media-min(1px) {
        text-align: center;

        &__column {
            margin-top: 15px;
        }
        &__icon {
            justify-content: center;
        }
        &__title {
            height: auto;
        }
    }

    @include media-min(768px) {
        text-align: left;

        &__column {
            margin-top: 0px;
        }
        &__icon {
            height: 100%;
            justify-content: inherit;
            img {
                max-height: inherit;
            }
        }
        &__title {
            height: 30px;
        }
    }

    @include media-min(992px) {
        &__column {
            margin-top: 15px;
        }

        &__icon {
            height: 115px;
            img {
                max-height: 115px;
            }
        }
    }
}