.section-requirements {
    color: #ffffff;
    &:first-child {
        margin-top: 0px;
    }

    h2, .article {
        color: #ffffff;
    }

    &__bg {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }
    &__row {
        position: relative;
        z-index: 2;
        &:first-child {
            margin-top: 0px;
        }
    }
    &__column {
        &:first-child {
            margin-bottom: 0px;
        }
    }
    &__title {
        text-align: center;
    }
    &__image {
        text-align: center;
        font-size: 0px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1;
    }

    @include media-min(1px) {
        margin-top: 70px;
        padding-top: 70px;
        padding-bottom: 70px;
        text-align: center;

        &__row {
            margin-top: 30px;
            flex-flow: column-reverse;
        }
        &__column {
            margin-bottom: 30px;
        }
        &__image {
            max-width: 260px;
        }
    }

    @include media-min(768px) {
        margin-top: 130px;
        padding-top: 130px;
        padding-bottom: 130px;
        text-align: left;

        &__row {
            margin-top: 40px;
            flex-flow: row;
        }
        &__column {
            margin-bottom: 0px;
        }
        &__image {
            max-width: 100%;
        }
    }
}