.select {
    position: relative;
    font-size: 0px;
    line-height: 1;

    &__header {
        display: flex;
        width: 100%;
        height: 55px;
        border: 1px solid #b7b7b7;
        border-radius: $button-corner-radius;
        flex-flow: row;
        align-items: center;
        padding: 10px 45px 10px 15px;
        @include font-size(16,16);
        color: #8d8c8c;
        cursor: pointer;
    }
    &__content {
        display: block;
        height: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__icon {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        & > svg {
            width: 16px;
            height: auto;
        }
    }
    &__menu {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0px 3px 8px rgba(1,1,1, 0.24);
        border-radius: $button-corner-radius;
        overflow: hidden;
        z-index: 1;
    }
    &__list {
        @include font-size(16,16);
    }
    &__list-item {
        display: flex;
        width: 100%;
        height: 50px;
        flex-flow: row;
        align-items: center;
        padding: 5px 15px;
        background-color: #ffffff;
        cursor: pointer;
        transition: background-color 0.2s ease 0s;
        &:hover {
            background-color: rgba(239,108,0, 0.2);
        }
        & > span {
            display: block;
            height: 18px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &__list-item_active {
        color: $primary-color;
    }
}
.select_opened {
    .select__menu {
        display: block;
    }
}