/*-----------Variables-----------*/
$primary-color: #ef6c00;
$primary-color_hover: #fc831f;
$primary-color_hover_2: #fee6d2;
$secondary-color: #283593;
$secondary-color-hover: #2638bb;
$button-corner-radius: 4px;
/*-----------Variables-----------*/

@mixin font-main-regular-normal {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
}

@mixin font-main-bold-normal {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-style: normal;
}

@mixin font-headline-semi-bold-normal {
    font-family: 'overpass';
    font-weight: 600;
    font-style: normal;
}

@mixin font-headline-bold-normal {
    font-family: 'overpass';
    font-weight: 700;
    font-style: normal;
}

@mixin font-size($fontSize, $lineHeight) {
    font-size: #{$fontSize/16}rem;
    line-height: $lineHeight/$fontSize;
}

@mixin media-max($res) {
    @media only screen and (max-width: $res) {
        @content;
    }
}

@mixin media-min($res) {
    @media only screen and (min-width: $res) {
        @content;
    }
}

@mixin link-hover-color {
    transition: color 0.2s ease 0s;
    &:hover {
        color: $primary-color;
    }
}

@mixin link-hover-fill-primary {
    svg > path {
        transition: fill 0.2s ease 0s;
    }
    &:hover svg > path {
        fill: $primary-color;
    }
}

@mixin link-hover-fill-secondary {
    svg > path {
        transition: fill 0.2s ease 0s;
    }
    &:hover svg > path {
        fill: $secondary-color-hover;
    }
}