.heading-1 {

    @include font-headline-semi-bold-normal;
    color: #000000;

    @include media-min(1px) {
        @include font-size(30, 40);
    }

    @include media-min(768px) {
        @include font-size(42, 50);
    }

    @include media-min(1024px) {
        @include font-size(50, 60);
    }
}
.heading-2 {

    @include font-headline-semi-bold-normal;
    color: #000000;

    @include media-min(1px) {
        @include font-size(26, 32);
    }

    @include media-min(768px) {
        @include font-size(42, 52);
    }
}
.heading-3 {
    @include font-headline-semi-bold-normal;
    color: #000000;

    @include media-min(1px) {
        @include font-size(22, 25);
    }

    @include media-min(768px) {
        @include font-size(26, 30);
    }
}
.heading-4 {
    @include font-size(22, 26);
    @include font-headline-semi-bold-normal;
    color: #000000;
}
.heading-5 {
    @include font-main-regular-normal;
    color: #000000;

    @include media-min(1px) {
        @include font-size(16, 20);
    }

    @include media-min(768px) {
        @include font-size(18, 22);
    }
}

.paragraph-0 {
    @include media-min(1px) {
        @include font-size(16,22);
    }

    @include media-min(768px) {
        @include font-size(18,24);
    }

    @include media-min(1024px) {
        @include font-size(20,26);
    }
}
.paragraph-1 {
    @include font-size(18, 26);
    @include font-main-regular-normal;
    color: #4c4b4b;
}
.paragraph-2 {
    @include font-size(16, 22);
    @include font-main-regular-normal;
    color: #4c4b4b;
}
.paragraph-3 {
    @include font-size(14, 20);
    @include font-main-regular-normal;
    color: #4c4b4b;
}

.paragraph-0, .paragraph-1, .paragraph-2, .paragraph-3 {
     a {
        color: #4c4b4b;
    }
}

h1 {
    @extend .heading-1;
}
h2 {
    @extend .heading-2;
}
h3 {
    @extend .heading-3;
}
h4 {
    @extend .heading-4;
}
h5 {
    @extend .heading-5;
}

.article {
    @extend .paragraph-2;
    p {
        padding: 10px 0px 15px;
        &:first-child {
            padding-top: 0px;
        }
        &:last-child {
            padding-bottom: 0px;
        }
    }
}