.section-users {
    &:first-child {
        margin-top: 0px;
    }

    &__row {
        &:first-child {
            margin-top: 0px;
        }
    }
    &__header {
        text-align: center;
        > h5 {
            margin-top: 10px;
        }
    }

    @include media-min(1px) {
        margin-top: 70px;
        &:last-child {
            padding-bottom: 70px;
        }

        &__row {
            margin-top: 15px;
        }
    }

    @include media-min(768px) {
        margin-top: 130px;
        &:last-child {
            padding-bottom: 130px;
        }

        &__row {
            margin-top: 30px;
        }
    }

}

.users-wrapper {
    &__body, &__footer {
        &:first-child {
            margin-top: 0px;
        }
    }
    &__footer {
        text-align: center;
    }

    @include media-min(1px) {
        &__column {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        &__body, &__footer {
            margin-top: 15px;
        }
    }

    @include media-min(768px) {
        &__column {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &__body, &__footer {
            margin-top: 30px;
        }
    }
}

.users-micro {
    position: relative;

    &__image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #c0c0c0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }
    &__title {
        @extend .heading-4;
        word-break: break-all;
    }
    &__description {
        @extend .paragraph-3;
        word-break: break-all;
        margin-top: 5px;
        &:first-child {
            margin-top: 0px;
        }
    }

    @include media-min(1px) {
        text-align: center;

        &__image {
            margin-bottom: 10px;
        }
        &__title {
            max-width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include media-min(768px) {
        &__title {
            max-width: 100%;
        }
    }

    @include media-min(1024px) {
        padding-top: 20px;
        padding-left: 80px;
        text-align: left;

        &__image {
            position: absolute;
            top: 0%;
            left: 0%;
            margin-bottom: 0px;
        }
    }
}