<template>
    <section class="js-breakpoint-section section-banner">
        <div class="js-breakpoint-image section-banner__bg"
             :data-xl-src="config.image.xl"
             :data-lg-src="config.image.lg"
             :data-md-src="config.image.md"
             :data-sm-src="config.image.sm"
             :data-xs-src="config.image.xs"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-6">
                    <div class="section-banner__micro">
                        <h1>{{config.title}}</h1>
                        <article v-html="config.description"></article>
                        <footer>
                            <button @click.prevent="scrollTo('sign-up')" type="button" class="button button_orange">
                                <span>Sign Up</span>
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {scrollToTarget} from "../js/functions";
    import BreakpointSection from "../js/breakpoint-section";

    export default {
        name: "banner",

        computed: {
            config () {
                return this.$store.getters.config("banner");
            }
        },

        mounted() {
            window["breakpointSections"].push(new BreakpointSection(this.$el));
        },

        methods: {
            scrollTo (id) {
                scrollToTarget(document.getElementById(id));
            },
        }
    }
</script>