<template>
    <div>
        <div class="file-field">
            <div class="file-field__content">
                <span>{{title}}</span>
            </div>
            <button type="button"
                    @click.prevent="buttonClickHandler"
                    class="button button_border">
                <span>Upload</span>
                <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.12 14.2C18.0552 14.2221 17.9848 14.2221 17.92 14.2C17.86 14.2 17.81 14.2 17.78 14.31C17.75 14.42 17.71 14.43 17.69 14.43C17.67 14.43 17.69 14.49 17.69 14.61V14.79V19.56C17.6848 20.2177 17.4164 20.846 16.9448 21.3044C16.4732 21.7629 15.8376 22.0134 15.18 22H4.41C3.75845 22.0103 3.1319 21.7495 2.68 21.28C2.23533 20.831 1.99022 20.2219 2 19.59V14.69C2.00655 14.5778 1.97087 14.4672 1.9 14.38C1.82129 14.2956 1.71478 14.2423 1.6 14.23C1.48132 14.2049 1.36103 14.1882 1.24 14.18H0.489999C0.360349 14.1787 0.236431 14.2334 0.149999 14.33C0.0544082 14.4172 -4.19659e-05 14.5406 -5.99422e-07 14.67V19.57C-0.0168658 20.7431 0.449651 21.8714 1.29 22.69C2.10521 23.5377 3.23397 24.0117 4.41 24H15.18C16.3504 24.0027 17.4737 23.5389 18.3013 22.7113C19.1289 21.8837 19.5927 20.7604 19.59 19.59V14.69C19.5965 14.5778 19.5609 14.4672 19.49 14.38C19.4144 14.2915 19.3062 14.2373 19.19 14.23C19.0713 14.2049 18.951 14.1882 18.83 14.18H18.12V14.2Z" fill="#EF6C00"/>
                    <path d="M9.11001 0.290012L0.780005 8.62001C0.411751 9.00631 0.411751 9.61371 0.780005 10C0.956732 10.1938 1.20776 10.3029 1.47001 10.3H5.88001V17.15C5.88001 17.7023 6.32772 18.15 6.88001 18.15H12.75C13.3023 18.15 13.75 17.7023 13.75 17.15V10.29H18.16C18.4223 10.2929 18.6733 10.1838 18.85 9.99001C19.2119 9.60506 19.2119 9.00496 18.85 8.62001L10.48 0.290012C10.0951 -0.0719309 9.49496 -0.0719309 9.11001 0.290012Z" fill="#EF6C00"/>
                </svg>
            </button>
            <input type="file"
                   name="photo"
                   @change="changeInputHandler"
                   accept="image/jpeg"
                   autocomplete="off">
        </div>
        <div class="form-message form-message_default">
            <span>File format jpg  up to {{maxFileSize}} MB, the minimum size of {{minWidth}}x{{minHeight}}px</span>
        </div>
    </div>
</template>

<script>
    import {EventBus} from "../event-bus";

    export default {
        name: "file-upload",

        data () {
            return {
                inputNode: null,
                maxFileSize: 5, //mb
                minWidth: 70, //px
                minHeight: 70, //px
                defaultTitle: "Upload your photo",
                file: null
            }
        },

        computed: {

            title () {
                return (this.file && this.file.name) ? this.file.name : this.defaultTitle;
            }

        },

        mounted () {
            EventBus.$on("root::resetForm", () => {
                this.reset();
            });

            this.inputNode = this.$el.querySelector("input[type='file']");
        },

        methods: {

            reset () {
                this.file = null;
                this.inputNode.value = "";
            },

            buttonClickHandler () {
                if (this.inputNode) this.inputNode.click();
            },

            changeInputHandler () {
                this
                    .upload()
                    .then((file) => {
                        this.file = file;
                        this.$emit("change", "success");
                    }, (error) => {
                        this.reset();
                        this.$emit("change", "error");
                    });
            },

            getBase64 (file) {
                let reader = new FileReader();

                return new Promise( (resolve, reject) => {
                    reader.readAsDataURL(file);

                    reader.onload = () => {
                        resolve(reader.result);
                    };

                    reader.onerror = () => {
                        reject(null);
                    };
                });
            },

            getImage (base64) {
                return new Promise( (resolve, reject) => {
                    let image = new Image();

                    image.onload = () => {
                        resolve(image);
                    };

                    image.onerror = () => {
                        reject(null);
                    };

                    image.src = base64;
                });
            },

            upload () {
                return new Promise( (resolve, reject) => {
                    let file = this.inputNode.files[0];

                    if (!file) {
                        reject(null);
                        return true;
                    }

                    let maxFileSize = this.maxFileSize * 1024 * 1024;

                    if (file.size > maxFileSize) {
                        reject(null);
                        return true;
                    }

                    this
                        .getBase64(file)
                        .then(this.getImage)
                        .then((image) => {
                            let naturalWidth = image.naturalWidth;
                            let naturalHeight = image.naturalHeight;

                            if (naturalWidth < this.minWidth || naturalHeight < this.minHeight) {
                                reject(null);
                            } else {
                                resolve(file);
                            }
                        });
                });
            }

        }
    }
</script>