<template>
    <ul :class="prefix + '-menu'">
        <li v-for="item in menu" :class="prefix + '-menu__item'">
            <button @click.prevent="scrollTo(item.target_id)"
                    type="button"
                    :class="prefix + '-menu__button button'">{{item.title}}</button>
        </li>
        <slot></slot>
    </ul>
</template>

<script>
    import {scrollToTarget} from "../js/functions";

    export default {
        name: "main-menu",

        props: ["prefix"],

        computed: {
            menu () {
                return this.$store.getters.config("main_menu");
            },
        },

        methods: {
            scrollTo (id) {
                scrollToTarget(document.getElementById(id), 1500, {
                    "onComplete": () => {
                        this.$emit("scrollComplete");
                    }
                });
            },
        }
    }
</script>