<template>
    <div class="notification" :class="{'notification_opened': isOpened}">
        <div class="notification__mask"></div>
        <div class="notification-wrapper">
            <div class="notification-wrapper__header">
                <div class="notification-wrapper__title">{{data.title}}</div>
            </div>
            <div class="notification-wrapper__body">
                <div v-html="data.message" class="notification-wrapper__text"></div>
            </div>
            <div class="notification-wrapper__footer">
                <button @click.prevent="confirm" type="button"
                        class="button button_text">
                    <span>OK</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import {disableBodyScroll, enableBodyScroll} from "body-scroll-lock";

    export default {
        name: "notification",

        props: ["data"],

        data () {
            return {
                isOpened: false
            }
        },

        methods: {

            open () {
                disableBodyScroll(this.$el);
                this.isOpened = true;
            },

            close () {
                enableBodyScroll(this.$el);
                this.isOpened = false;
            },

            confirm () {
                this.close();
                this.$emit("confirm");
            }

        }
    }
</script>