<template>
    <section id="about-me" class="section-quaint">
        <div class="container">
            <div class="row section-quaint__row">
                <div class="col-12 col-md-4 d-none d-md-block section-quaint__column"></div>
                <div class="col-12 col-md-8 section-quaint__column">
                    <h2>{{config.title}}</h2>
                </div>
            </div>
            <div class="row section-quaint__row">
                <div class="col-12 col-md-4 section-quaint__column">
                    <figure class="section-quaint__image">
                        <img :src="config.image" width="289" height="285" :alt="config.sub_title" :title="config.sub_title">
                    </figure>
                </div>
                <div class="col-12 col-md-8 section-quaint__column">
                    <div class="section-quaint__content">
                        <article v-html="config.description" class="article"></article>
                        <footer>
                            <button @click.prevent="scrollTo('sign-up')" type="button" class="button button_text">
                                <span>Sign Up</span>
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {scrollToTarget} from "../js/functions";

    export default {
        name: "quaint",

        computed: {
            config () {
                return this.$store.getters.config("quaint");
            }
        },

        methods: {
            scrollTo (id) {
                scrollToTarget(document.getElementById(id));
            },
        }
    }
</script>