<template>
    <section id="sign-up" class="section-register" :class="{'section-register_disabled' : loading}">
        <div class="section-register__mask"></div>

        <div class="container section-register__wrapper">
            <div class="row justify-content-center section-register__row">
                <div class="col-12 col-md-8 col-lg-12">
                    <div class="section-register__header">
                        <h2>{{config.title}}</h2>
                        <h5>{{config.sub_title}}</h5>
                    </div>
                </div>
            </div>
            <div class="section-register__row">
                <form class="register-form">
                    <div class="row register-form__row register-form__row_top">
                        <div class="col-12 col-md-4 register-form__column">
                            <div class="form-row">
                                <div class="input-field">
                                    <label>Name</label>
                                    <input type="text"
                                           name="name"
                                           minlength="2"
                                           maxlength="60"
                                           placeholder="Your name" autocomplete="off">
                                </div>
                                <div class="form-message">
                                    <span>should be 2-60 characters</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 register-form__column">
                            <div class="form-row">
                                <div class="input-field">
                                    <label>Email</label>
                                    <input type="email" name="email" placeholder="Your email" autocomplete="off">
                                </div>
                                <div class="form-message">
                                    <span>incorrect email</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 register-form__column">
                            <div class="form-row">
                                <div class="input-field">
                                    <label>Phone</label>
                                    <input type="tel" name="phone" placeholder="+38 (___) ___ __ __" autocomplete="off">
                                </div>
                                <div class="form-message">
                                    <span>incorrect phone</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row register-form__row register-form__row_middle">
                        <div class="col-12 col-md-6 register-form__column">
                            <div class="form-row">
                                <selectList :list="positions"
                                            :default-title="'Select your position'"
                                            @change="selectCallback($event)"></selectList>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 register-form__column">
                            <div class="form-row">
                                <fileUploadComponent @change="fileCallback($event)"></fileUploadComponent>
                            </div>
                        </div>
                    </div>
                    <div class="row register-form__row register-form__row_bottom">
                        <div class="col-12 register-form__column">
                            <button type="submit" class="button button_orange">
                                <span>Sign Up</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <notification ref="notification" :data="notificationData"
                      @confirm="notificationCallback"></notification>
    </section>
</template>

<script>
    import Imask from "imask";
    import {EventBus} from "../event-bus";
    import FormValidate from "../js/form-validate";
    import selectList from "./select-list";
    import fileUploadComponent from "./file-upload";
    import notification from "./notification";

    export default {
        name: "register",

        components: {
            selectList,
            fileUploadComponent,
            notification
        },

        computed: {
            config () {
                return this.$store.getters.config("register");
            },

            positions () {
                return this.$store.getters.positions;
            }
        },

        data () {
            return {
                loading: false,
                formNode: null,
                validate: null,
                phoneMask: null,
                notificationData: {
                    title: "",
                    message: ""
                }
            }
        },

        mounted () {
            this.$store.dispatch("getPositions");

            this.initForm();
            this.initPhoneMask();
        },

        methods: {

            initForm () {
                this.formNode = this.$el.querySelector(".register-form");

                this.validate = new FormValidate(this.formNode, {
                    "name": {
                        "required" : true
                    },
                    "email": {
                        "required" : true,
                        "email": true
                    },
                    "phone": {
                        "required" : true
                    },
                    "position_id": {
                        "required" : true
                    },
                    "photo": {
                        "required" : true
                    }
                }, {
                    "checkSubmitButton": true
                });

                this.validate.submitHandler = () => {
                    let formData = new FormData();
                    let fields = this.formNode.querySelectorAll("input");

                    for (let i = 0; i < fields.length; i+=1) {
                        let node = fields[i];
                        let name = node.getAttribute("name");
                        let value = node.value;

                        if (name === "photo") {
                            value = node.files[0];
                        } else if (name === "phone") {
                            value = "+" + this.phoneMask.unmaskedValue;
                        }

                        formData.append(name, value);
                    }

                    let token = this.$store.getters.token;

                    this.loading = true;
                    this.$store.dispatch("setUsers", {formData, token})
                        .then( (response) => {
                            this.loading = false;
                            this.openNotification("Congratulations", response.message);
                            this.$store.dispatch("getUsersData");
                        }, (error) => {
                            this.loading = false;
                            let message = error.message;

                            if (error.fails) {
                                for (let key in error.fails) {
                                    message += key + ": " + error.fails[key] + "<br>";
                                }
                            }

                            this.openNotification("Error", message);
                        });
                };
            },

            resetForm () {
                this.formNode.reset();
                this.validate.reset();

                EventBus.$emit("root::resetForm");
            },

            initPhoneMask () {
                let phoneNode = this.$el.querySelector("input[type='tel']");

                if (!phoneNode) return false;

                let maskOptions = {
                    mask: "+{38} (Z00) 000 00 00",
                    lazy: false,
                    definitions: {
                        "Z": /0/
                    }
                };

                this.phoneMask = IMask(phoneNode, maskOptions);

                phoneNode.addEventListener("focus", () => {
                    //if (!phoneNode.value) phoneNode.value = "+38 (";
                });

                phoneNode.addEventListener("blur", () => {
                    if (this.phoneMask.unmaskedValue.length !== 12) {
                        phoneNode.value = "";
                        this.validate.updateFieldByName("phone", "error");
                    }
                });
            },

            fileCallback (status) {
                this.validate.updateFieldByName("photo", status);
            },

            selectCallback (id) {
                if (id !== undefined) this.validate.updateFieldByName("position_id", "success");
            },

            openNotification (title, message) {
                this.notificationData.title = title;
                this.notificationData.message = message;
                this.$refs["notification"].open();
            },

            notificationCallback () {
                this.resetForm();
            }

        }
    }
</script>