<template>
    <section id="relationships" class="relationships-section">
        <div class="container">
            <div class="row justify-content-center relationships-section__row">
                <div class="col-12 col-md-9 col-lg-12">
                    <div class="relationships-section__title">
                        <h2>{{config.title}}</h2>
                    </div>
                </div>
            </div>
            <div class="row relationships-section__row">
                <div v-for="item in config.list" class="col-12 col-lg-4 relationships-section__column">
                    <div class="relationships-micro">
                        <div class="row">
                            <div class="col-12 col-md-2 col-lg-12 relationships-micro__column">
                                <div class="relationships-micro__icon">
                                    <figure>
                                        <img :src="item.image" width="100" height="114" :alt="item.image_title" :title="item.image_title">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-12 col-md-10 col-lg-12 relationships-micro__column">
                                <div class="relationships-micro__title">{{item.title}}</div>
                                <div v-html="item.description" class="article relationships-micro__article"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "relationships",

        computed: {
            config () {
                return this.$store.getters.config("relationships");
            }
        },
    }
</script>