<template>
    <section id="requirements" class="js-breakpoint-section section-requirements">
        <div class="js-breakpoint-image section-requirements__bg"
             :data-xl-src="config.bg.xl"
             :data-lg-src="config.bg.lg"
             :data-md-src="config.bg.md"
             :data-sm-src="config.bg.sm"
             :data-xs-src="config.bg.xs"></div>
        <div class="container">
            <div class="row justify-content-center section-requirements__row">
                <div class="col-12 col-md-8 col-lg-12">
                    <div class="section-requirements__title">
                        <h2>{{config.title}}</h2>
                    </div>
                </div>
            </div>
            <div class="row section-requirements__row">
                <div class="col-12 col-md-6 section-requirements__column">
                    <article v-html="config.description" class="article"></article>
                </div>
                <div class="col-12 col-md-6 section-requirements__column">
                    <figure class="section-requirements__image">
                        <img :src="config.image" width="429" height="362" :alt="config.title" :title="config.title">
                    </figure>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import BreakpointSection from "../js/breakpoint-section";

    export default {
        name: "requirements",

        computed: {
            config () {
                return this.$store.getters.config("requirements");
            }
        },

        mounted() {
            window["breakpointSections"].push(new BreakpointSection(this.$el));
        }
    }
</script>