<template>
    <div class="js-select select" :class="{'select_opened': isOpened}">
        <div @click.prevent="open" class="select__header">
            <div class="select__content">
                {{title}}
            </div>
            <div class="select__icon">
                <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.7 0.300009C15.5194 0.105732 15.2652 -0.00322417 15 8.92433e-06H0.999994C0.734786 -0.00322417 0.480554 0.105732 0.299994 0.300009C0.111579 0.484639 0.00375071 0.73624 -6.33446e-06 1.00001C-0.00323943 1.26522 0.105717 1.51945 0.299994 1.70001L7.29999 8.70001C7.68884 9.08115 8.31115 9.08115 8.69999 8.70001L15.7 1.70001C15.8943 1.51945 16.0032 1.26522 16 1.00001C15.9962 0.73624 15.8884 0.484639 15.7 0.300009Z" fill="black"/>
                </svg>
            </div>
        </div>
        <div class="select__menu">
            <div v-for="item in list" class="select__list">
                <div @click.prevent="change(item.id)"
                     class="select__list-item"
                     :class="{'select__list-item_active' : isSelected(item.id)}">
                    <span>{{item.name}}</span>
                </div>
            </div>
        </div>
        <input type="hidden" name="position_id" v-model="selectedId" autocomplete="off">
    </div>
</template>

<script>
    import {EventBus} from "../event-bus";
    import {checkClosest} from "../js/functions";

    export default {
        name: "select-list",

        props: ["list", "defaultTitle"],

        data () {
            return {
                isOpened: false,
                selectedId: null
            }
        },

        computed: {
            selectedItem () {
                let item =  this.list.filter((el) => {
                    return this.isSelected(el.id);
                });

                if (item.length) {
                    return item[0];
                }

                return {};
            },

            title () {
                return (this.selectedItem.name) ? this.selectedItem.name : this.defaultTitle;
            }
        },

        mounted () {
            EventBus.$on("root::resetForm", () => {
                this.selectedId = null;
            });

            checkClosest();

            document.addEventListener("click", (e) => {
                let target = e.target;
                if (!target.closest(".js-select")) this.close();
            }, !1);

        },

        methods: {

            open () {
                this.isOpened = true;
            },

            close () {
                this.isOpened = false;
            },

            change (id) {
                this.selectedId = parseInt(id);
                this.close();
                this.$emit("change", this.selectedId);
            },

            isSelected (id) {
                return parseInt(id) === parseInt(this.selectedId);
            }

        }
    }
</script>