<template>
    <section id="users" class="section-users">
        <div class="container">
            <div class="row justify-content-center section-users__row">
                <div class="col-12 col-md-8 col-lg-12">
                    <div class="section-users__header">
                        <h2>{{config.title}}</h2>
                        <h5>{{config.sub_title}}</h5>
                    </div>
                </div>
            </div>
            <div v-if="users.length" class="section-users__row">
                <div class="users-wrapper">
                    <div class="users-wrapper__body">
                        <div class="row users-wrapper__row">
                            <div v-for="item in users" class="col-12 col-md-4 users-wrapper__column">
                                <div class="users-micro">
                                    <div class="users-micro__image" :style="'background-image: url(' + item.photo + ');'"></div>
                                    <div class="users-micro__title">{{item.name}}</div>
                                    <div class="users-micro__description">
                                        <p>{{item.position}}</p>
                                        <p>
                                            <a :href="'mailto:' + item.email">{{item.email}}</a>
                                        </p>
                                        <p>
                                            <a :href="'tel:' + item.phone">{{parsePhone(item.phone)}}</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="usersData.links && usersData.links.next_url" class="users-wrapper__footer">
                        <button @click.prevent="load(usersData.links.next_url)"
                                type="button"
                                :disabled="loading"
                                class="button button_border">
                            <span>Show more</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "users",

        data () {
            return {
                loading: false
            }
        },

        computed: {
            config () {
                return this.$store.getters.config("users");
            },

            usersData () {
                return this.$store.getters.usersData;
            },

            users () {
                return this.$store.getters.users;
            }
        },

        mounted () {
            this.load();
        },

        methods: {
            load (url) {
                this.loading = true;
                this.$store.dispatch("getUsersData", url).then(() => {
                    this.loading = false;
                });
            },

            parsePhone (value) {
                value = value.split(" ").join("");
                return value.substr(0, 3) + " " + "(" + value.substr(3, 3) + ")" + " " + value.substr(6, 3) + " " + value.substr(9, 2) + " " + value.substr(11, 2);
            }
        }
    }
</script>