<template>
    <div id="app">
        <headerComponent></headerComponent>

        <main>
            <div class="main-wrapper">
                <bannerComponent></bannerComponent>
                <quaintComponent></quaintComponent>
                <relationshipsComponent></relationshipsComponent>
                <requirementsComponent></requirementsComponent>
                <usersComponent></usersComponent>
                <registerComponent></registerComponent>
            </div>
        </main>

        <footerComponent></footerComponent>
    </div>
</template>

<script>
    import headerComponent from "./components/header";
    import bannerComponent from "./components/banner";
    import quaintComponent from "./components/quaint";
    import relationshipsComponent from "./components/relationships";
    import requirementsComponent from "./components/requirements";
    import usersComponent from "./components/users";
    import registerComponent from "./components/register";
    import footerComponent from "./components/footer";

    export default {
        name: 'app',
        components: {
            headerComponent,
            bannerComponent,
            quaintComponent,
            relationshipsComponent,
            requirementsComponent,
            usersComponent,
            registerComponent,
            footerComponent
        }
    };
</script>